<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calm Container - Create Account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="mystyles.css">
</head>

<body>
    <%- include ('header') %>
        <div id="validationMessages" class="text-danger"></div>

        <div class="container mt-5">
            <h2 class="mb-4">Change Password</h2>

            <div id="validationMessages" class="text-danger">
                <% if (typeof error !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
            </div>

            <form id="changePasswordForm" action="/change_password" method="post">

                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>

                <button type="submit" class="btn btn-info btn-lg" id="changePasswordBtn">Change Password</button>
            </form>

            
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script>
            // Function to check password strength, returns true if password valid
            function checkPasswordStrength(password) {
                // Check password strength using complexityRegex expression
                var complexityRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;
                if (!complexityRegex.test(password)) {
                    return "Password should include at least one uppercase letter, one lowercase letter, one number, and one special character.";
                }
                return true; // If the password is strong
            }
        
            // Add an event listener to the form submit event
            document.getElementById("createAccountForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent the form from submitting
        
                // Retrieve the form data
                var newPassword = document.getElementById("newPassword").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
        
                // Create JSON object
                var jsonData = {
                    newPassword: newPassword
                };
        
                // Some form validation
                // Ensure that all fields in form are filled else return and alert message
                if (!newPassword || !confirmPassword) {
                    document.getElementById("validationMessages").innerText = 'All fields are required';
                    return;
                }

                if (newPassword !== confirmPassword) {
                    document.getElementById("validationMessages").innerText = 'Passwords do not match, invalid!';
                    return;
                }
        
                // Check password strength
                var passwordStrength = checkPasswordStrength(newPassword);
                if (passwordStrength !== true) {
                    document.getElementById("validationMessages").innerText = 'Password not strong enough';
                    return;
                } else {
                    // Clear any previous validation messages
                    document.getElementById("validationMessages").innerText = '';
        
                    // Submit the form
                    document.getElementById("changePasswordForm").submit();
                }
            });
        </script>
        